{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
  My super awesome django project
{% endblock %}
{% block body %}
<a href="{% url 'feed:post' %}">Add new post &rarr;</a>
 <hr>
  {% for post in post %}
    <a href="{% url 'feed:detail' post.id %}" style='display: inline-block;'>
      {{ post.text }}
      <br />
      {% thumbnail post.image '200x200' crop='center' as im %}
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
      {% endthumbnail %}
    </a>
    <hr />
  {% endfor %}
{% endblock %}
